/* media query */


/* ~ 1240px */
@media (max-width: 1240px){

    /* home section1 */
    .home__btn {
        margin-top: 3rem;
        font-size: calc( 16px + 1vw );
    }

    .title__top {
        font-size: 42px ;
    }

    .title__middle {
        font-size: 76px;
    }

    .title__bottom {
        font-size: 38px;
    }


    /* profile section2 */

    .profile__my .my {
        font-size: 28px;
    }
    .profile__my .my i {
        font-size: 20px;
    }

    .profile__content span.profile__hope {
        font-size: 24px;
    }

    .profile__content span.profile__career {
        font-size: 20px;
        font-family: var(--nanum--r);
    }


    /* works section4 */
    .slides__btn {
        margin-top: 30px;
    }

    .slides__btn > a {
        font-size: 18px;
        padding: 10px 28px;
    }

    .works__slides .next {
        right: 18vw;
    }

}





/* ~ 1024px */
@media (max-width : 1024px) {
        
    /* common */
    .sections {
        height: calc( 100vh - 80px);
        min-height: 919px;
        padding: 0 40px;
        padding-top: 80px;
        box-sizing: border-box;
    }
    
    .sections.works {
        padding-top: 0;
    }

    .articles {
        padding-top: 80px;
        box-sizing: border-box;
    }


    .section__title, .article__title {
        margin: 0 auto;
        text-align: center;
        font-size: 14vw;
    }
    
    /* header & nav */
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 9999;
    }

    #header .tablet__menu {
        display: block;
    }

    #header .tablet__menu:hover span{
        background-color: var(--pink);
    }

    #nav {
        display: none;
    }
    

    /* home section1 */

    .home {
        padding-top: 80px;
    }

    .home .home__bg {
        transform: translateX(110px)rotate(30deg);
        width: 800px;
        height: 1430px;
        top: 0;
    }

    .home .home__container {
        width: 100%;
        padding: 0;
        justify-items: center;
    }
    
    .title__top {
        position: relative;
        mix-blend-mode: normal;
        z-index: 9;
        background-image: linear-gradient(90deg, var(--dark--blue) 50%, var(--light--blue) 55%, #f1fafb 65%,var(--light--blue) 70%, var(--dark--blue) 80%);
        background-size: 260%;
        animation-duration: 3s;

        font-size: 5vw;
    }
    
    .title__middle {
        font-size: 9vw;
    }

    .title__bottom {
        font-size: 4vw;
    }
    .title__top, .title__middle, .title__bottom {
        text-align: center;
    }

    .home__btn {
        margin: 0 auto;
        margin-top: 60px;

    }

    .home__btn:hover {
        background-color: var(--dark--blue);
    }

    /* profile section2 */

    .profile__title2 {
        display: none;
    }

    .profile__content {
        display: block;
    }

    .profile__img {
        width: 30vw;
        margin: 0 auto;
    }

    .profile__my {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        margin-top: 40px;
    }

    .profile__my span {
        font-size: 26px;
        margin-bottom: 6px;
    }
    
    .profile__my .my {
        line-height: 1.4;
    }

    .profile__my .my i {
        font-size: 18px;
    }

    .profile__my span.profile__desc {
        font-size: 18px;
    }

    .profile__my span.profile__hope {
        margin-top: 8px;
        font-size: 21px;
    }

    .profile__desc i {
        font-size: 16px;
    }

    /* skills section3 */

    #section3 {
        min-height: 1650px;
    }
    .skills__container {
        margin-top: 40px;
        display: block;
    }

    .skills__items {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .items__value {
        font-size: 24px;
    }

    .items__circle {
        min-width: 190px;
        min-height: 190px;
    }

    .items__name {
        min-width: 150px;
        min-height: 150px;
    }

    /* works section4 */

    .works__bg {
        position: absolute;
        background-color: var(--bg--blue);
        width: 100vw;
        height: 70vh;
        bottom: 0;
        left: -40px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
    }

    .works__slides {
        margin: 0 auto;
    }

    .slides__flex {
        top: 0; left: 0;
        margin: 0;
        transform: translateY(0);
        height: 100%;
    }

    .slides__flex li.slides__list {
        position: relative;
        height: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: 100vw;
    }

    .slides__flex .slides__list > img {
        height: 30vw;
        width: auto;
        min-height: 280px;
    }

    .slides__con {
        margin-top: 40px;
    }
    .slides__con > .slides__num {
        display: none;
    }
    .works__slides .prev {
        left: 10vw;
    }

    .works__slides .next {
        right: 10vw;
    }

    /* contact footer */

    .contact__desc > p > span.contact__title {
        font-size: 38px;
    }

    .contact__desc > p > span, span+a {
        font-size: 30px;
    }

    .contact__thx {
        text-align: center;
        font-size: 32px;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        width: 100%;
    }

    .contact__thx .contact__br {
        display: block;
    }

}



@media (max-width: 768px) {

    #header {
        height: 60px;
    }

    .sections, .articles {
        padding-top: 60px;
    }

    .home .home__bg {
        width: 670px;
    }
    
    .slides__flex .slides__list > img {
        min-height: 220px;
    }

    .works__slides .prev {
        left: calc( 4px + 2vw );
    }

    .works__slides .next {
        right: calc( 4px + 2vw);
    }
    .contact__desc > p > span.contact__title {
        font-size: 32px;
    }

    .contact__desc > p > span, span+a {
        font-size: 26px;
    }

    .contact__thx {
        font-size: 28px;
    }
}