.left__blind {
    position: absolute;
    background: linear-gradient(to right, var(--bg--blue) 91%, rgba(255, 255, 255, 0) );
    width: 35vw;
    height: 60%;
    top: 50%; left: -35vw;
    transform: translateY(-50%);
    overflow: hidden;
}

.works__slides {
    margin: 0;
    width: 100vw;
    height: 100%;
    position: relative;
    display: flex;
    margin-left: 7vw;
    box-sizing: border-box;
    align-items: center;
    transform: scale(0.9);
    opacity: 0.2;
    transition: all 1000ms ease-out;
}

.works__redesign.active .works__slides, .works__create.active .works__slides {
    transform: scale(1);
    opacity: 1;
}

.slides__flex {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 240vw;
    height: 50%;
    margin-top: 50px;
    transition: left 0.5s ease-out;
}

.slides__flex li.slides__list {
    position: relative;
    width: 75vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;
    margin-left: 15px;
}

.slides__list .slide__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg--blue) 3%, rgba(255, 255, 255, 0) 30%);
    transition: all 300ms ease-in;
    opacity: 1;
}

.slides__list.active .slide__cover {
    opacity: 0;
    visibility: hidden;
}

.slides__flex .slides__list > img {
    height: 18vw;
    width: auto;
}


.slides__con {
    padding-left: 20px;
    box-sizing: border-box;
}


.slides__con span {
    display: block;
    margin-bottom: 10px;
}

.slides__con > .slides__num {
    color: var(--white);
    font: var(--bold) 50px var(--montserrat);
    margin-bottom: 0;
    letter-spacing: 3px;
}

.slides__con > .slides__title {
    color: var(--dark--blue);
    font: var(--bold) 32px var(--montserrat);
}

.slides__con > .slides__desc {
    color: var(--dark--blue);
    font: var(--regular) 22px var(--nanum--r);
    opacity: 0.9;
    line-height: 1.4;
}

.slides__con > .slides__btn {
    margin-top: 40px;
}

.slides__btn > a {
    padding: 12px 32px;
    background-color: var(--white);
    border-radius: 20px;
    color: var(--dark--blue);
    font-size: 22px;
    border: 2px solid var(--dark--blue);
    font-family: var(--nanum--r);
    margin-right: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.slides__btn > a:hover {
    background-color: var(--dark--blue);
    color: var(--white);
}

.slides__controller {
    position: relative;
    background-color: transparent;
    text-align: center;
}

.works__slides .prev, .next {
    border: none;
    position: absolute;
    top: 47%;
    width: 33px;
    height: 57px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.works__slides .prev {
    left: -30px;
    background: url('/src/img/swiper_arrow.png') no-repeat -3px -2px;
}

.works__slides .prev:hover {
    transform: translateX( -10px );
}

.works__slides .next {
    right: 24vw;
    background: url('/src/img/swiper_arrow.png') no-repeat -46px -2px;
}

.works__slides .next:hover {
    transform: translateX(10px);
}